@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DogSPA</h1>
    <img src="~/images/img.jpg" class="img-fluid mx-auto d-block" style="max-width: 50%;" />

    <div>
        <p>
            <strong>Descriere:</strong> DogSPA este locul ideal unde prietenii cu blană beneficiază de o experiență de înfrumusețare și relaxare de neuitat.
            Echipa noastră dedicată de specialiști în îngrijirea animalelor oferă servicii premium, de la băi spațioase cu șampoane de înaltă calitate până la tunsuri personalizate și îngrijire specializată a urechilor și unghiilor.
            Atmosfera noastră prietenoasă și atenția la detalii fac din DogSPA destinația preferată a prietenilor necuvântători în căutare de răsfăț și starea de bine.
            Cu programe personalizate și servicii de calitate, ne asigurăm că fiecare vizită la DogSPA este o experiență plăcută pentru toate raselor și dimensiunile.
            Vă așteptăm să descoperiți alături de noi un spațiu dedicat în totalitate bunăstării și îngrijirii animalelor de companie!
        </p>
        <p><strong>Data înființării:</strong> 15.01.2024</p>
        <p><strong>Adresa:</strong> Cluj-Napoca, strada Teodor Mihali, nr. 58-60</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10930.319970966448!2d23.621394!3d46.7731747!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490c15a18e8af9%3A0xcc357d4dedcf12a0!2sFacultatea%20de%20%C5%9Etiin%C5%A3e%20Economice%20%C5%9Fi%20Gestiunea%20Afacerilor!5e0!3m2!1sro!2sro!4v1705055794526!5m2!1sro!2sro"
                width="600"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        <p><strong>Număr de telefon:</strong> 0123456789</p>
        <p><strong>Program de lucru:</strong> De luni până vineri, de la ora 10 la ora 19</p>
        <p><strong>Email:</strong> dogspa@gmail.com</p>
    </div>
</div>
