@page
@model Proiect_Medii.Pages.Programari.CreateModel

@{
    ViewData["Title"] = "Programare";
}

<h1>Programare</h1>

<h4>Bun venit, @User.Identity.Name!</h4>

<h4>Programează-te acum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Programare.Data" class="control-label">Select Date</label>
                <input asp-for="Programare.Data" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" />
                <span asp-validation-for="Programare.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programare.Ora" class="control-label"></label>
                <input asp-for="Programare.Ora" class="form-control" />
                <span asp-validation-for="Programare.Ora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programare.Comentariu" class="control-label"></label>
                <input asp-for="Programare.Comentariu" class="form-control" />
                <span asp-validation-for="Programare.Comentariu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programare.Serviciu" class="control-label">Denumire Serviciu</label>
                <select asp-for="Programare.ServiciuID" class="form-control" asp-items="ViewBag.ServiciuID">
                </select>
                <span asp-validation-for="Programare.ServiciuID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Trimite" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
